{% extends "catalog.html" %}
{% block content %}
    <form action="." method="post" class="form-group">
    {% csrf_token %}
        <table summary="Register" id="register">
            <caption>Создайте свой аккаунт</caption>
            {{ form.as_table }}
            <tr>
                <th></th>
                <td>
                    <input class="btn btn-info" type="submit" name="submit" value="Зарегистрироваться"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}