body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.hero-spacer {
    margin-top: 20px;
}

.hero-feature {
    margin-bottom: 30px;
}

#id_q {
    margin: 5px auto;
}

.navbar {
    background-color: #168DE2;
    border-color: #168DE2;
    color: white;
}

.navbar-brand, .navbar-nav > li > a {
    color: white !important;
}

.navbar-brand:hover, .navbar-nav > li > a:hover {
    color: #c6c6c6 !important;
}

.cat-menu {
    background-color: #168DE2;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
}

ul {
    list-style-type: none !important;
    padding-left: 10px;
}

li a.category {
    color: white !important;
}

li a.category:hover {
    color: #c6c6c6 !important;
    text-decoration: none;
}

footer {
    margin: 50px 0;
    text-align: center;
    background-color: gainsboro;
    clear: both;
    padding: 30px;
}

footer a {
    margin: 30px;
}

.title {
    text-shadow: 0 0 5px #168DE2;
    text-align: center;
}

.discount {
    text-shadow: 0 0 5px red;
}


.product-image {
    margin-top: 20px;
    align-content: center;
    text-align: center;
}

.product-info {
    text-align: center;
    align-content: center;
}

form#search input.btn {
    background-color: #168DE2;
}

#add_review {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.new_review {
    background-color: Pink;
}

.cb {
    clear: both;
}

.panel-heading {
    background-color: #168DE2 !important;
}

ul.errorlist {
    background-color: Red;
    color: White;
}

/* styles for shopping cart page */
table#shopping_cart {
    width : 100%;
    border-collapse: collapse;
    color: #616161;
}

h1, caption {
    text-align: left;
    font-size: x-large;
    margin-bottom: 15px;
    color: Black;
}

th, td {
    text-align: left;
    padding: 3px;
}

thead th {
    color: White;
    background-color: #616161;
}

tfoot th {
    height: 40px;
}

table#shopping_cart th.right, td.right {
    text-align: right;
}

a.cart {
    color: DarkOrange;
}

/* Для ленточек Новинка и Скидка */
.thumbnail {
    position: relative;
}

.sale-ribbon {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 0;
    height: 22px;
    width: auto;
}

.sale {
    background: #eb5e58;
    border-radius: 0 4px 4px 0;
    color: #fff;
    display: inline-block;
    float: left;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    height: 100%;
    padding: 3px 5px;
}

.new-ribbon {
    position: absolute;
    z-index: 10;
    top: 0px;
    right: 0;
    height: 22px;
    width: auto;
}

.new {
    background: #63aceb;
    border-radius: 0 4px 4px 0;
    color: #fff;
    display: inline-block;
    float: left;
    font-family: Oswald, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    height: 100%;
    padding: 3px 5px;
}

.thumbnail:hover > a > img {
    filter: url(filter.svg#gray);
    -webkit-filter: grayscale(1);
    /*-webkit-filter: blur(2px);*/
	-o-filter: url(filter.svg#gray);
}
