#id_q {
    margin: 5px auto;
}

.navbar {
    background-color: #168DE2;
    border-color: #168DE2;
    color: white;
}

.navbar-brand, .navbar-nav > li > a {
    color: white !important;
}

.navbar-brand:hover, .navbar-nav > li > a:hover {
    color: #c6c6c6 !important;
}

.cat-menu {
    background-color: #168DE2;
    padding: 5px 20px;
    color: white;
    border-radius: 10px;
}

ul {
    list-style-type: none !important;
    padding-left: 10px;
}

li a.category {
    color: white !important;
}

li a.category:hover {
    color: #c6c6c6 !important;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: gainsboro;
    clear: both;
    padding: 30px;
}

footer a {
    padding: 30px;
}

.title {
    text-shadow: 0 0 10px #168DE2
}

.product-image {
    margin-top: 20px;
    align-content: center;
    text-align: center;
}

.product-info {
    text-align: center;
    align-content: center;
}

form#search input.btn {
    background-color: #168DE2;
}

#add_review {
    cursor: pointer;
}

.hidden {
    display: none!important;
}

.visible {
    display: block!important;
}

.new_review {
    background-color: Pink;
}

.cb {
    clear: both;
}