html{ height: 100%; }
body{display: flex;flex-direction: column;height:100%; }

img.item {
    max-height: 150px;
    width: 200px;
    border-radius: 15px;
}

div.item-row {
    margin-top: 5px;
}

header, footer {
    height: 50px;
    background: yellow;
    flex: 0 0 auto;
}

.main-content{flex:1 0 auto; }