{% extends "base.html" %}
{% load catalog_tags %}
{% load search_tags %}
{% block site_wrapper %}
    {% include 'tags/navigation.html' %}
    <div class="cart_box" align="right">
        {% cart_box request %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                {% search_box request %}
                <br/>
                {% category_list request.path %}
            </div>

            <div class="col-sm-9 col-sm-10">
                {% block content %}

                {% endblock %}
            </div>
        </div>


    </div>
    <footer>
        {% footer_links %}
    </footer>

{% endblock %}