{% extends "catalog.html" %}
{% load catalog_tags %}
{% block content %}
    <div class="row text-center">
        <h1 class="title">Магазин детской одежды "Ладошки"</h1>

        <p class="title"><i class="fa fa-map-marker" aria-hidden="true"></i>  г. Балашиха, мкр. Железнодорожный, ул.
            Юбилейная, д. 6, стр. 1, ТЦ "Теремок"</p>
        <p class="title"><i class="fa fa-map-marker" aria-hidden="true"></i>  г. Балашиха, мкр. Заря, ул. Гагарина, д. 3, стр. 1</p>

        <img class="img-responsive" src="/static/images/jumbo.jpg" width="100%">
        <hr>
        {% product_list new_products 'Новинки' %}
        {% product_list recently_viewed 'Недавно Вы смотрели эти товары' %}
        {% product_list view_recs 'Похожие товары' %}
        {% product_list featured 'Особые товары' %}
        {% product_list search_recs 'Рекомендовано Вам' %}
    </div>
{% endblock %}
