{% extends "catalog.html" %}
{% load catalog_filters %}
{% block content %}
    <div class="product_image">
        <img src="{{ p.image.url }}" alt="{{ p.name }}"/>
{#        {{ p.image_caption }}#}
    </div>
    <h1>{{ p.name }}</h1>
    <br/><br/>
    В категори{{ categories.count|pluralize:"и,ях" }}:
    {% for c in categories %}
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br/><br/>
    {% if p.sale_price %}
        Было:
        <del> {{ p.old_price }} руб.</del>
        <br/>
        Сейчас: {{ p.price }} руб.
    {% else %}
        Цена: {{ p.price }} руб.
    {% endif %}
    <br/><br/>

    <div class="cb"></div>
    <br/><br/>
    <div class="cb"><br/><br/></div>
    <h3>Описание</h3>
    {{ p.description }}
{% endblock %}