{% extends "catalog.html" %}
{% load catalog_filters %}
{% block content %}
    <div class="row">
        <div class="col-md-8 product-image">
            <p><img src="{{ p.image.url }}" alt="{{ p.name }}" style="width: 100%"/></p>
            {#        {{ p.image_caption }}#}
        </div>


        <div class="col-md-4 product-info">
            <h1>{{ p.name }}</h1>
            В категори{{ categories.count|pluralize:"и,ях" }}:
            {% for c in categories %}
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
            <br/><br/>
            {% if p.sale_price %}
                Было:
                <del> {{ p.old_price }} руб.</del>
                <br/>
                Сейчас: {{ p.price }} руб.
            {% else %}
                Цена: {{ p.price }} руб.
            {% endif %}
            <br/>
            <br/>
            {% if p.brand %}
                <p>Бренд: "{{ p.brand }}"</p>
                <br/>
            {% endif %}
            {% if p.country %}
                <p>Страна: {{ p.country }}</p>
                <br/>
            {% endif %}
            {% if p.color %}
                <p>Цвет: {{ p.color }}</p>
                <br/>
            {% endif %}
            {% if p.sizes != '0' %}
                <h3>Размеры</h3>
                {{ p.sizes }}
            {% endif %}
            <h3>Описание</h3>
            {{ p.description }}
        </div>
    </div>


    <div class="row cb"><br/><br/></div>

    <div class="col-md-12">
        <h3>Отзывы на данный товар</h3>
        {% if request.user.is_authenticated %}
            <a id="add_review">Написать отзыв</a>
            <div id="review_form">
                <form class="form-group">
                    {% csrf_token %}
                    <div id="review_errors"></div>
                    {{ review_form }}
                    <input type="hidden" id="id_slug" value="{{ p.slug }}"/>
                    <input class="btn btn-primary" type="submit" id="submit_review" value="Отправить"/>
                    <input class="btn btn-default" type="submit" id="cancel_review" value="Отменить"/>
                </form>
            </div>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}">
                Войдите на сайт, чтобы оставлять отзывы.
            </a>
        {% endif %}
        <div class="cb"><br/><br/></div>
        <div id="reviews">
            {% for review in product_reviews %}
                {% include 'catalog/product_review.html' %}
            {% empty %}
                <div id="no_reviews">
                    Отзывов пока нет. Станьте первыми.
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="cb"><br/><br/></div>
{% endblock %}